$font-color-1:#262626;
$color-active:#18a058;
$n-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12),
0 3px 28px 0 rgba(0, 0, 0, .08),
0 3px 28px 8px rgba(0, 0, 0, .05);
$n-box-shadow-dark: 0 3px 6px -4px rgba(0, 0, 0, .24), 0 6px 12px 0 rgba(0, 0, 0, .16), 0 9px 18px 8px rgba(0, 0, 0, .10);
$border-color-link:rgba(0, 0, 0, 0.25);
$border-color-link-hover:'#999999';
