@use "/src/assets/style/helper.scss";
@import "/src/assets/style/common.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol:not(#vditor-container.vditor *) {
  list-style: none;
}

a:not(#vditor-container.vditor *) {
  text-decoration: underline;
  text-decoration-color: $border-color-link;
  color: inherit;
  opacity: 0.8;
  word-break: break-all;
  transition: all linear 0.3s;
  text-underline-offset: 3px;
  &:hover {
    opacity: 1;
    text-decoration-color: $border-color-link-hover;
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5, h6:not(#vditor-container> *) {
  font-weight: normal;
}


body {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  // 为什么这样写 font-family
  // 答案见 https://github.com/zenozeng/fonts.css/
  font-family: helper.$font-zh;
}
div,p,span,h1, h2, h3, h4, h5, h6,header{
  color: rgba(0, 0, 0, 0.85);
}

//以下几行为了消除按钮按下时有阴影和border
button:focus { //电脑端
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent; //手机端
}

#app {
  height: 100vh;
}
